<ul class="menu">
  <li>
    <a href="/<%= t.lang %>"<%= " class=\"active\"" if !params[:name] %>><%= t.menu.main %></a>
  </li>
  <li>
    <a href="/<%= t.lang %>/about"<%= " class=\"active\"" if params[:name] == "about" %>><%= t.menu.about %></a>
  </li>
  <li>
    <a href="/<%= t.lang %>/calendar"<%= " class=\"active\"" if params[:name] == "calendar" %>><%= t.menu.cal %></a>
  </li>
  <li>
    <a href="/<%= t.lang %>/practice"<%= " class=\"active\"" if params[:name] == "practice" %>><%= t.menu.practice %></a>
  </li>
  <li>
    <a href="/<%= t.lang %>/game"<%= " class=\"active\"" if params[:name] == "game" %>><%= t.menu.game %></a>
  </li>
  <li>
    <a href="/<%= t.lang %>/yoga"<%= " class=\"active\"" if params[:name] == "yoga" %>><%= t.menu.yoga %></a>
  </li>
  <li>|</li>
  <li><%= locale_url %></li>
</ul>