<% @title = t.html_title.game %>

<div class="wrapper">
  <%= erb :"shared/menu" %>

  <h1><%= t.menu.game %></h1>

  <div class="text">
    <%= t.game %>

    <p><script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
      <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="icon" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div></p>
  </div>

  <div class="quotes-inner-green">
    <h3><%= t.menu.recommendations %></h3>

    <% @data['game_recommendations'].each do |recommendation| %>
    <div class="recommendation">
      <div class="hooks-inner">“</div>
      <div class="quote-inner"><%= recommendation['text'] %></div>
      <div class="signature-inner"><%= recommendation['name'] %></div>
    </div>
    <% end %>
  </div>

  <%= erb :"shared/footer_events" %>

  <%= erb :"shared/footer" %>
</div>