<div class="wrapper">
  <%= erb :"shared/menu" %>

  <h1>Трансформационная<br>игра</h1>

  <div class="text">
    <p>Трансформационная игра&nbsp;&mdash; это чудесный способ, как проиграть то, что ты&nbsp;хочешь получить в&nbsp;жизни. Игра четко показывает, что происходит, где ты&nbsp;застреваешь и&nbsp;на&nbsp;что стоит обратить внимание, какие шаги предпринять, чтобы жизнь превратилась в&nbsp;поток.</p>

    <p>На&nbsp;игру необходимо явиться с&nbsp;целью (что ты&nbsp;хочешь прояснить в&nbsp;своей жизни; чего достичь, но&nbsp;не&nbsp;знаешь как или прежним способом не&nbsp;получается; начать отношения или исцелить их; найти свое призвание, увеличить доход <nobr>и т. д.</nobr>).</p>

    <p>В&nbsp;ТИ&nbsp;играют максимум 4 человека и&nbsp;на&nbsp;это необходимо выделить 4 часа.</p>

    <p><script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
      <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="icon" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div></p>
      
  </div>

  <div class="quotes-inner-green">
    <h3>Рекомендации</h3>

    <% @data['game_recommendations'].each do |recommendation| %>
    <div class="recommendation">
      <div class="hooks-inner">“</div>
      <div class="quote-inner"><%= recommendation['text'] %></div>
      <div class="signature-inner"><%= recommendation['name'] %></div>
    </div>
    <% end %>
  </div>

  <%= erb :"shared/footer_events" %>

  <%= erb :"shared/footer" %>
</div>