<div class="wrapper">
  <%= erb :"shared/menu" %>

  <h1>Айя Берёза</h1>

  <div class="main">
    <img src="img/aija.png" width="218px" height="218px" alt="Айя Берёза">
    <p>Психолог, сертифицированный коуч, учитель йоги</p>

    <ul class="contact">
      <li>+371 26 364 854</li>
      <li><a href="mailto:aija.berjoza@gmail.com">aija.berjoza@gmail.com</a></li>
      <li><a href="http://twitter.com/joxa" target="blank_">@Joxa</a></li>
    </ul>
  </div>

  <div class="information clearfix">
    <div class="events">
      <h2>МЕРОПРИЯТИЯ</h2>

      <% @data['events'].each_with_index do |value, index| %>
        <div class="event">
          <div class="date"><%= value['date'] %> <%= value['month'] %> / <%= value['time'] %></div>
          <a href="/event/<%= index %>" class="gmodal"><%= value['title'] %></a>
        </div>
      <% end %>

      <div class="small-text">
        Хотите что-то особенное или вам не подходят даты и время? 
        Свяжитесь со мной по номеру <strong>+371 26 364 854</strong> 
        или эл. почте <a href="mailto:aija.berjoza@gmail.com">aija.berjoza@gmail.com</a>
      </div>
    </div>

    <div class="quotes">
      <h2><a href="#" class="quites" id="refresh_recommendation">Одна из рекомендаций</a></h2>
      <div class="hooks">“</div>
      <div class="quote"><%= @recommendation['text'] %></div>
      <div class="signature"><%= @recommendation['name'] %></div>
    </div>

    <script>
      var recomendations = <%= @recommendations.to_json %>;
    </script>
  </div>

  <%= erb :"shared/footer" %>
</div>