<ul class="menu">
  <li><a href="/" <%= "class=\"active\"" if !params[:name] %>>аб</a></li>
  <li><a href="/about" <%= "class=\"active\"" if params[:name] == "about" %>>Обо мне</a></li>
  <li><a href="/calendar" <%= "class=\"active\"" if params[:name] == "calendar" %>>Календарь</a></li>
  <li><a href="/practice" <%= "class=\"active\"" if params[:name] == "practice" %>>Частная практика</a></li>
  <li><a href="/game" <%= "class=\"active\"" if params[:name] == "game" %>>Трансформационная игра</a></li>
  <li><a href="/yoga" <%= "class=\"active\"" if params[:name] == "yoga" %>>Йога</a></li>
<!--   <li>|</li>
  <li><a href="#">LV</a></li> -->
</ul>