<title>Частная практика Айи Берёзы</title>

<div class="wrapper">
  <%= erb :"shared/menu" %>

  <h1>Частная практика</h1>

  <div class="text">
    <p>Ни&nbsp;одна проблема не&nbsp;лежит только на&nbsp;физическом, эмоциональном или духовном уровне, поэтому я&nbsp;предпочитаю системный подход, который позволяет целостно достичь лучшего результата.</p>

    <p><nobr>Во-первых</nobr>, это коучинг, ориентированный на&nbsp;результат. На&nbsp;первой встрече мы&nbsp;четко определяем, что для тебя будет наилучшим результатом на&nbsp;время нашего сотрудничества и&nbsp;движемся к&nbsp;нему. Представь, что завершилась встреча или месяц работы или три месяца&nbsp;&mdash; что для тебя будет наилучшим результатом?</p>

    <p><nobr>Во-вторых</nobr>, часто в&nbsp;работе с&nbsp;препятствиями, которые мешают жить той жизнью, которой хочется предлагаю использовать техники эмоциональной свободы (EFT).</p>

    <p><nobr>В-третьих</nobr>, если ты&nbsp;готов медитировать, то&nbsp;я&nbsp;подберу тебе медитацию, которая повысит вибрации твоего сознания и&nbsp;улучшит качество жизни.</p>

    <p>Чтобы жизнь и&nbsp;события изменились, то&nbsp;нужно самому меняться в&nbsp;корне, делать то, что раньше не&nbsp;делал. Насколько ты&nbsp;готов выйти за&nbsp;свои представления о&nbsp;себе и&nbsp;мире?</p>

    <p class="special-text">Ко мне чаще всего обращаются с вопросами:</p>
    <ul class="text">
      <li>Найти баланс, организовать свою жизнь</li>
      <li>Справиться со стрессом</li>
      <li>Найти свое призвание, найти себя</li>
      <li>Избавиться от страха</li>
      <li>Жить той жизнью, о которой мечтается…</li>
    </ul>

    <p class="special-text">Шаги:</p>
    <ul class="text">
      <li>1. Ответь на вопрос «Что я хочу»?</li>
      <li>2. Запиши ответы.</li>
      <li>3. Свяжись со мной по номеру <b>+371 26 364 854</b> или эл. почте <a href="mailto:aija.berjoza@gmail.com"><b>aija.berjoza@gmail.com</b></a></li>
    </ul>

    <p><script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
      <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="icon" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,lj,gplus"></div>
    </p>

  <div class="quotes-inner-green">
    <h3>Рекомендации</h3>

    <% @data['coach_recommendations'].each do |recommendation| %>
    <div class="recommendation">
      <div class="hooks-inner">“</div>
      <div class="quote-inner"><%= recommendation['text'] %></div>
      <div class="signature-inner"><%= recommendation['name'] %></div>
    </div>
    <% end %>
  </div>

  <%= erb :"shared/footer_events" %>

  <%= erb :"shared/footer" %>
</div>